.calculation-table {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.calculation-table__columns {
  display: flex;
  border: 1px solid blue;
}

.calculation-table__list-array,
.calculation-table__list-set {
  flex:1 1 100%;
}

